<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated rPGPyGame -->
      <package
            uri="http://www.example.org/rPGPyGame"
            class="rPGPyGame.RPGPyGamePackage"
            genModel="model/rPGPyGame.genmodel"/>
   </extension>

</plugin>
